# Number 1
- Differentiate between supervised and unsupervised machine learning algorithms with examples. [10 points]

In [ ]:

'''
Supervised machine learning uses labeled data to learn from and this labeled data is essentially the supervision.
The developer passes the data with a known target variable. Algorithms for this are things such as Logistic regression, K-nearest neighbor, and Linear regression.
Unsupervised machine learning is passing unlabled data to the algorithm and letting it learn the patterns.
Algorithms for this are k-means clustering, apriori algorithm, and hierarchical clustering.
Each type has an area / field that it works well on.
https://www.ibm.com/topics/unsupervised-learning
'''

# Number 2
- What is inheritance? Describe with example. [10 points]

In [4]:
'''
Inheritance is the concept of a child class inheriting attributes and methods from a parent class.
It is one of the four pillars of OOP.
'''
class Parent:
  def __init__(self, name):
    self.name = name

  def parent_method(self):
    return f'hey i am a parent method, {self.name}'

class Child(Parent):
  def child_method(self):
    return f'hey i am a child method, {self.name}'

child_class = Child(name='dude')
print(child_class.parent_method())
print(child_class.child_method())

hey i am a parent method, dude
hey i am a child method, dude

# Number 3
- What is encapsulation? Explain with an example. [10 points]

In [5]:
'''
Encapsulation is another one of the four pillars of OOP
It encapsulates or hides data within a class. Making some public or private
Private means it is not exposed to the public
'''
# I got a pocket full of sunshine. Based on the song Pocket full of sunshine
class Pocket:
  def __init__(self, owner, sunshine):
    self.owner = owner
    self.__sunshine = sunshine

  # encapsulation uses getters and setters
  def get_sunshine(self):
    return self.__sunshine

  # setter
  def set_sunshine(self, amount):
    self.__balance = amount


  def add_sunshine(self, amount):
    self.__sunshine += amount

pocket_full_of_sunshine = Pocket("Natasha Beddingfield", 100)

# add some sunshine
pocket_full_of_sunshine.add_sunshine(200)
print(pocket_full_of_sunshine.get_sunshine())

None
300

# Number 4
- You can see an example where we created a book database in class. Similarly, please create an employee database in python. The database should contain three tables, personal_details (with columns: employee_id, name, gender, age, physical_address, email_address), salary_details (with columns: employee_id, total_compensation), job_details (with columns: employee_id, job_title, manager_id).
- After creating tables, perform the tasks below: [10 points]
  - Insert 5 rows in each table.
  - Imagine two employees got promoted with 5% and 10% base salary raise respectively.
    - Update the information of those two employees in your database.
  - Imagine two employees left the company. Remove their details from your database.

In [6]:
# import the db
import sqlite3

In [7]:
connection = sqlite3.connect('employee.db')

In [8]:
# create the driver to execute commands on
driver = connection.cursor()

## create tables

In [31]:
# create the tables
driver.execute("""
CREATE TABLE IF NOT EXISTS personal_details (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    employee_id INTEGER NOT NULL,
    name TEXT NOT NULL,
    gender TEXT NOT NULL,
    age INTEGER NOT NULL,
    physical_address TEXT NOT NULL,
    email_address TEXT NOT NULL
)
""")

driver.execute("""
CREATE TABLE IF NOT EXISTS salary_details (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    employee_id INTEGER NOT NULL,
    total_compensation INTEGER NOT NULL
)
""")


driver.execute("""
CREATE TABLE IF NOT EXISTS job_details (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    employee_id INTEGER NOT NULL,
    job_title TEXT NOT NULL,
    manager_id INTEGER NOT NULL
)
""")

## create data

In [18]:
employee_id = [1,2,3,4,5]
name = ['jill', 'mary', 'joe', 'jimi', 'dude']
gender = ['female', 'female', 'male', 'male', 'male']
age = [10,11,12,13,14,15]
street = ['123 stree', '234 lane', '345 blv', '456 ave', '567 way']
email = ['blah@fake.com', 'derp@fake.com', 'dude@blah.com', 'why@blah.com', 'derk@gmail']
total_comp = [1000, 2000, 3000, 4000, 5000]
job_title = ['manager', 'peon', 'ceo', 'cfo', 'ai']
manager_id = [5,6,7,8,9]
personal = zip(employee_id, name, gender, age, street, email)
salary = zip(employee_id, total_comp)
job = zip(employee_id, job_title, manager_id)

## build array to perform exmany

In [19]:
personal_values = []
salary_values = []
job_values = []
for i in personal:
  personal_values.append(i)

for i in salary:
  salary_values.append(i)

for i in job:
  job_values.append(i)

print(personal_values)
print(salary_values)
print(job_values)

[(1, 'jill', 'female', 10, '123 stree', 'blah@fake.com'), (2, 'mary', 'female', 11, '234 lane', 'derp@fake.com'), (3, 'joe', 'male', 12, '345 blv', 'dude@blah.com'), (4, 'jimi', 'male', 13, '456 ave', 'why@blah.com'), (5, 'dude', 'male', 14, '567 way', 'derk@gmail')]
[(1, 1000), (2, 2000), (3, 3000), (4, 4000), (5, 5000)]
[(1, 'manager', 5), (2, 'peon', 6), (3, 'ceo', 7), (4, 'cfo', 8), (5, 'ai', 9)]

## build queries

In [20]:
personal_query = """
INSERT INTO personal_details (employee_id, name, gender, age, physical_address, email_address)
VALUES (?, ?, ?, ?, ?, ?)
"""
salary_query = """
INSERT INTO salary_details (employee_id, total_compensation)
VALUES (?, ?)
"""
job_query = """
INSERT INTO job_details (employee_id, job_title, manager_id)
VALUES (?, ?, ?)
"""

In [32]:
try:
  driver.executemany(personal_query, personal_values)
  driver.executemany(salary_query, salary_values)
  driver.executemany(job_query, job_values)
  connection.commit()

except Exception as e:
  print(e)

## Update salary_details

In [34]:
# Update empoloyees
driver.execute("""
UPDATE salary_details
SET total_compensation = total_compensation + (total_compensation * .05)
WHERE employee_id IN (1, 2)
""")

connection.commit()

driver.execute("SELECT * FROM salary_details WHERE employee_id = ?", (1,))
updated_record = driver.fetchone()
print("Updated Record:", updated_record)

Updated Record: (1, 1, 1050)

In [33]:
s_all = """
SELECT * from salary_details
"""
driver.execute(s_all)
print(driver.fetchall())

[(1, 1, 1000), (2, 2, 2000), (3, 3, 3000), (4, 4, 4000), (5, 5, 5000), (6, 1, 1000), (7, 2, 2000), (8, 3, 3000), (9, 4, 4000), (10, 5, 5000), (11, 1, 1000), (12, 2, 2000), (13, 3, 3000), (14, 4, 4000), (15, 5, 5000), (16, 1, 1000), (17, 2, 2000), (18, 3, 3000), (19, 4, 4000), (20, 5, 5000)]

# remove two employees from all tables

In [37]:
driver.execute("""
DELETE FROM personal_details
WHERE employee_id = ?
""", (1,))

driver.execute("""
DELETE FROM salary_details
WHERE employee_id = ?
""", (1,))

driver.execute("""
DELETE FROM job_details
WHERE employee_id = ?
""", (1,))

driver.execute("""
DELETE FROM personal_details
WHERE employee_id = ?
""", (2,))

driver.execute("""
DELETE FROM salary_details
WHERE employee_id = ?
""", (2,))

driver.execute("""
DELETE FROM job_details
WHERE employee_id = ?
""", (2,))


connection.commit()

driver.execute("SELECT * FROM salary_details WHERE employee_id = ?", (1,))
deleted_record = driver.fetchone()
if deleted_record is None:
  print("Record deleted successfully.")
else:
  print("Record not found.")

Record deleted successfully.

## Queries to check things and fix my spelling error

In [30]:
sql_query = """SELECT name FROM sqlite_master
    WHERE type='table';"""

# executing our sql query
driver.execute(sql_query)
# printing all tables list
print(driver.fetchall())

[('personal_details',), ('sqlite_sequence',), ('salary_details',)]

In [28]:
sql_query = """SELECT name FROM sqlite_master
    WHERE type='table';"""

# executing our sql query
driver.execute(sql_query)
print("List of tables\n")
q = """SELECT sql FROM sqlite_master WHERE name='job_details'"""
# printing all tables list
driver.execute(q)
print(driver.fetchall())
dt = """
drop table if exists job_details
"""
# driver.execute(dt)

List of tables

[('CREATE TABLE job_details (\n    id INTEGER PRIMARY KEY AUTOINCREMENT,\n    eployee_id INTEGER NOT NULL,\n    job_title TEXT NOT NULL,\n    manager_id INTEGER NOT NULL\n)',)]

# Close connection

In [38]:
connection.close()