In [1]:
import platform
print(platform.python_version())

3.10.12

In [1]:
x = 3
print (x)
print(type(x))

3
<class 'int'>

In [2]:
print( x + 1)
print( x - 1 )
print( x * 2 )
print( x ** 2 )

4
2
6
9

In [3]:
x += 1
print(x)
x *= 2
print(x)

4
8

In [5]:
x = 100000000000000
print(type(x))
x = 10.0
print(type(x))
x = -1.0 + 10.j
print(x)

<class 'int'>
<class 'float'>
(-1+10j)

In [6]:
t, f = True, False
print(type(t))

<class 'bool'>

In [7]:
print(t and f)
print(t or f)
print(not t)
print( t != f)

False
True
False
True

In [8]:
hello = 'hello' # single quote string
world = "world" # or double quotes
again = """Hello
          there""" # even triples. Keeps formatting
print(hello, len(hello))
print(again)

hello 5
Hello
          there

In [9]:
hw = hello + ' ' + world # string concat
print(hw)

hello world

In [10]:
print('%13s %13s %d' % (hello, world, 12))
print(f"I want to say {hello} to the {world}!") # nice
print(hello + world + str(12))

        hello         world 12
I want to say hello to the world!
helloworld12

In [13]:
s = "hello"
print(s.capitalize())
print(s.upper())
print(s.rjust(7))
print(s.center(7))
print(s.replace('l', '(ell)'))
print('  world'.strip())
s = "hello class.    good evening"
cols = s.split()
print(cols[0], cols[2])

Hello
HELLO
  hello
 hello
he(ell)(ell)o
world
hello good

In [14]:
xs = [3, 1, 1, 2] # create list
print(xs, xs[2])
print(xs[-1]) # Negative indices count from end of list
print(xs[-2])

[3, 1, 1, 2] 1
2
1

In [15]:
xs[2] = 'foo'
print(xs)

[3, 1, 'foo', 2]

In [16]:
xs.append('bar')
print(xs)

[3, 1, 'foo', 2, 'bar']

In [17]:
x = xs.pop()
print(x, xs)

bar [3, 1, 'foo', 2]

In [18]:
xs = [3, 1, 5, 1, 3, 2]
xs2 = [10, 11]
xs.append(xs2)
print(xs)

[3, 1, 5, 1, 3, 2, [10, 11]]

In [19]:
xs_another = [100, 1000, 200]
xs.extend(xs_another) # merges lists
print(xs)

[3, 1, 5, 1, 3, 2, [10, 11], 100, 1000, 200]

In [20]:
nums = range(5)
print(nums)
print(type(nums))

range(0, 5)
<class 'range'>

In [21]:
nums = [0, 1, 2, 3, 4]
print(nums[2:4]) # get a slice from index 2 to 4 (exclusive)
print(nums[2:]) # get a slice from index 2 to the end
print(nums[:2]) # get a slice from start to index 2
print(nums[:]) # get a slice of whole list
(print(nums[:-1])) # slice indices can be negative
nums[2:4] = [8, 8, 23, 56, 9] # assign a new sublist to a slice
print(nums)

[2, 3]
[2, 3, 4]
[0, 1]
[0, 1, 2, 3, 4]
[0, 1, 2, 3]
[0, 1, 8, 8, 23, 56, 9, 4]

In [22]:
animals = ['cat', 'dog', 'monkey']
for animal in animals:
  print(animal)

cat
dog
monkey

In [23]:
for idx, animal in enumerate(animals):
  print( '#%d: %s' % (idx + 1, animal))

#1: cat
#2: dog
#3: monkey

In [24]:
# List comprehension
nums = [0, 1, 3, 4]
squares = []
for x in nums:
  squares.append(x ** 2)
print(squares)

[0, 1, 9, 16]

In [25]:
squares = [x ** 2 for x in nums]
print(squares)

[0, 1, 9, 16]

In [26]:
even_squares = [x ** 2 for x in nums if x % 2 == 0]
print(even_squares)

[0, 16]

In [27]:
d = {'cat': 'cute', 'dog': 'furry'} # creates dict with some data
print(d['cat'])
print('cat' in d)

cute
True

In [28]:
d['fish'] = 'wet'
print(d['fish'])

wet

In [29]:
print(d['monkey']) # will throw KeyError

KeyError: 'monkey'

In [30]:
print(d.get('monkey', 'N/A')) # get element with default

N/A

In [31]:
del d['fish']
print(d.get('fish', 'N/A'))

N/A

In [32]:
d = { 'person': 2, 'cat': 4, 'spider': 8}
for animal, legs in d.items():
  print('A %s has %d legs' % (animal, legs))

A person has 2 legs
A cat has 4 legs
A spider has 8 legs

In [34]:
d = { 'a': 2, 'c': 4, 'd': 1, 'b': 10}
for animal, legs in sorted(d.items(), key = lambda x: x[0]): # sorts by key
  print('%s - %d' % (animal, legs))

for animal, legs in sorted(d.items(), key = lambda x: x[1]): # sorts by values
  print('%s - %d' % (animal, legs))

a - 2
b - 10
c - 4
d - 1
d - 1
a - 2
c - 4
b - 10

In [35]:
# dict comprehension
nums = [0, 1, 2, 3, 4]
even_num_to_square = {x: x ** 2 for x in nums if x % 2 == 0} # runs faster than traditional for loop
print(even_num_to_square)

{0: 0, 2: 4, 4: 16}

In [36]:
# Set
animals = { 'cat', 'dog', 'cat'} # no duplicate values
print(animals)

{'cat', 'dog'}

In [37]:
animals = ['cat', 'dog', 'cat']
print(animals)
animals = set(animals)
print(animals)

['cat', 'dog', 'cat']
{'cat', 'dog'}

In [38]:
animals.add('fish')
print('fish' in animals)
print(len(animals))

True
3

In [39]:
animals.add('cat')
print(len(animals))
animals.remove('cat')
print(len(animals))

3
2

In [40]:
# iterating over set has same syntax as iterating over list
animals = {'cat', 'dog', 'fish'}
for idx, animal in enumerate(animals):
  print(idx, animal)

0 cat
1 fish
2 dog

In [41]:
from math import sqrt
myset = {int(sqrt(x)) for x in range(30)}
print(myset)

{0, 1, 2, 3, 4, 5}

In [44]:
# tuples
d = {(x, x+1): x for x in range(10)} # create a dict with tuple keys
print(d)
t = (5, 6)
print(type(t))
print(d[t])
print(d[(1, 2)])

{(0, 1): 0, (1, 2): 1, (2, 3): 2, (3, 4): 3, (4, 5): 4, (5, 6): 5, (6, 7): 6, (7, 8): 7, (8, 9): 8, (9, 10): 9}
<class 'tuple'>
5
1

TypeError: 'tuple' object does not support item assignment

In [45]:
# tuples are immutable
# throws TypeError
t[0] = 1

TypeError: 'tuple' object does not support item assignment

In [46]:
def sign(x):
  if x > 0:
    return 'positive'
  elif x < 0:
    return 'negative'
  else:
    return 'zero'
for x in [-1, 0, 1]:
  print(sign(x))

negative
zero
positive

In [48]:
def hello(name, loud = False):
  if loud:
    print('hello, %s' % name.upper())
  else:
    print('Hello, %s!' % name)

# hello()  throws TypeError
hello('Fred')
hello('Fred', True)

Hello, Fred!
hello, FRED

In [ ]:
# parameter is variable in declaration of function. Arugment is actual value of this variables that gets passed to function
# put all default parameters after required args
def hello(loud = False, name):
  if loud:
    print('hello')
  else:
    print('hello' % name)

In [49]:
# first argument of a method is self - just a convention: name self has absolutely no special meaning
class A:
  def print_something(self):
    print('something')

a = A()
a.print_something()

something

In [50]:
class Greeter:
  name = ""
  # constructor (optional but needed for any initialization)
  def __init__(self, name):
    self.name = name # create instance variable

  def greet(self, loud = False):
    if loud:
      print('HELLO')
    else:
      print('hello')

g = Greeter('Fred')
g.greet()
g.greet(loud=True)

hello
HELLO