In [84]:
from datetime import date

class Person:
  def __init__(self, name, country, date_of_birth):
    self.name = name
    self.country = country
    self.date_of_birth = date_of_birth

  def get_country(self):
    return self.country

  def get_name(self):
    return self.name

  def get_date_of_birth(self):
    return self.date_of_birth

  def set_name(self, name):
    self.name = name

  def set_country(self, country):
    self.country = country

  def set_date_of_birth(self, date_of_birth):
    self.date_of_birth = date_of_birth

  def calculate_age(self):
    current_year = date.today().year
    birth_year = int(self.date_of_birth.split('-')[0])
    current_age = current_year - birth_year
    return current_age

In [86]:
from os import name
# get user input
people = []
for i in range(4):
  user_input = input("Enter the information for 4 people separated by a space\n")
  name, country, date_of_birth = user_input.split()
  people.append(Person(name, country, date_of_birth))


print(people[0])

Enter the information for 4 people separated by a space
jimi us 1987
Enter the information for 4 people separated by a space
john england 1450
Enter the information for 4 people separated by a space
tim austria 1000
Enter the information for 4 people separated by a space
albert germany 1890
<__main__.Person object at 0x7e7b057f21d0>

In [87]:
for i in range(4):
  print(f"Person {i+1}'s name: {people[i].get_name()}")
  print(f"Person {i+1}'s country: {people[i].get_country()}")
  print(f"Person {i+1}'s DOB: {people[i].get_date_of_birth()}")
  print(f"Person {i+1}'s age: {people[i].calculate_age()}")
  print()

Person 1's name: jimi
Person 1's country: us
Person 1's DOB: 1987
Person 1's age: 37

Person 2's name: john
Person 2's country: england
Person 2's DOB: 1450
Person 2's age: 574

Person 3's name: tim
Person 3's country: austria
Person 3's DOB: 1000
Person 3's age: 1024

Person 4's name: albert
Person 4's country: germany
Person 4's DOB: 1890
Person 4's age: 134