# Write a program to accept a number from a user
  - Calculate sum of all numbers from 1 to a given number

In [19]:
number1 = int(input("Enter a number\n"))
total = 0
for number in range(1, number1):
  total += number
print(f"total is {total}")

Enter a number
5
total is 15

# display only the numbers from a list that satisfy following conditions
  1. Number must be divisble by 5
  2. if num > 150, skip it
  3. if num is > 500 then break out

In [41]:
number_list = [5, 4, 151, 20, 300, 500, 505]
for num in number_list:
  if (num > 500):
    break
  elif (num > 150):
    continue
  elif (num % 5 == 0):
    print(num)

5
20

# Write a program to print the following start pattern using the for loop

In [35]:
for i in range(1, 10):
  if i <= 5:
    amount_to_print = i
  else:
    modulo = i % 10
    amount_to_print = 10 - modulo

  test = "* " * amount_to_print
  print(test)

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

# Write a program to create a function that takes two arugments, name and age, then print their value

In [24]:
def build_person(name="john", age=32):
  print(f"hello {name} you are {age} years old!")

build_person(name="Dude", age=33)

hello Dude you are 33 years old!

# Write program to create function func1() to accept variables length of arguments and print their value

In [26]:
def any_args(*args):
  for arg in args:
    print(arg)

any_args(2, 3, 5)
any_args(1, 5, 6, 7, 8, 9, 10)

2
3
5
1
5
6
7
8
9
10

# Write a program to createa function calculation() such that it can accept two variables and calculate addition and subtraction

In [28]:
def calculation(num1, num2):
  addn = num1 + num2
  subtraction = num1 - num2
  return (addn, subtraction)

(addn, subtraction) = calculation(4, 2)
print(addn, subtraction)

6 2

# Create function to return a python list of all even numbers between a range given by user

In [43]:
lower_bound = int(input("Enter a start for the range\n"))
upper_bound = int(input("Enter an ending (exclusive) for the range\n"))

def create_a_list(l_bound, u_bound):
  list = []
  for i in range(l_bound, u_bound):
    if i % 2 == 0:
      list.append(i)
  return list

create_a_list(lower_bound, upper_bound)

Enter a start for the range
1
Enter an ending (exclusive) for the range
4

[2]